<dl>
  <dt>First name:</dt>
  <dd><%= @ticket.first_name %></dd>
  
  <dt>Last name:</dt>
  <dd><%= @ticket.last_name %></dd>

  <dt>Job title:</dt>
  <dd><%= @ticket.job_title %></dd>

  <dt>Department:</dt>
  <dd><%= @ticket.department %></dd>

  <dt>Phone number:</dt>
  <dd><%= @ticket.phone_number %></dd>

  <dt>Date needed by:</dt>
  <dd><%= @ticket.date_needed_by %></dd>

  <dt>Email:</dt>
  <dd><%= mail_to(@ticket.email) %></dd>

  <dt>Priority:</dt>
  <dd><%= @ticket.priority %></dd>

  <dt>Position:</dt>
  <dd><%= @ticket.position %></dd>

  <dt>Type of request:</dt>
  <dd><%= @ticket.type_of_request %></dd>

  <dt>Purpose:</dt>
  <dd><%= @ticket.purpose %></dd>

  <dt>Description:</dt>
  <dd><%= @ticket.description %></dd>

  <dt>Time period:</dt>
  <dd><%= @ticket.time_period %></dd>

  <dt>Student type:</dt>
  <dd><%= @ticket.student_type %></dd>

  <dt>Campus:</dt>
  <dd><%= @ticket.campus %></dd>
  
  <dt>Irb:</dt>
  <dd><%= @ticket.irb %></dd>

  <dt>Grant PI:</dt>
  <dd><%= @ticket.grapn_pi %></dd>
