<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing system</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div id="main-container" class="container">
      <div class="row">
	<div class="col-sm-1">
          <div class="row">
            <h2>Menu</h2>
          </div>
          <ul class="list-unstyled">
	    <li><p><%= link_to "New ticket", new_ticket_path %></p></li>
	    <% if session[:user_id] %>
	      <li><p><%= link_to "Users", users_path %></p></li>
	      <li><p><%= link_to "Tickets", tickets_path %></p></li>
	      <li><p><%= link_to "Logout", logout_path, method: :delete %></p></li>
	    <% else %>
	      <li><p><%= link_to "Login", login_path %></p></li>
	    <% end %>
            <!--<li><a href='https://www.facebook.com/sharer/sharer.php?u=URL'>Share on Facebook</a></li>-->
          </ul>
	</div>
	<div class="col-sm-11">
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
